<aside class="col-sm-3 ml-sm-auto blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Analista e Desenvolvedor de Sistemas pelo Instituto Federal de São Paulo. Amante da web em todos os níveis de sua Stack e entusiasta de Ruby e Clojure.</p>
  </div>
  <div class="sidebar-module text-center">
    <ol class="list-unstyled social-links">
      <li>
        <a href="https://github.com/andrewhenriquef"><%= fa_icon "github"%></a> 
        <a href="https://twitter.com/andrewhenriquef"><%= fa_icon "twitter"%></a> 
        <a href="https://www.linkedin.com/in/andrew-oliveira-52184870/"><%= fa_icon "linkedin"%></a>
      </li>
      <li>
        <a href="https://www.facebook.com/andrewhenriquef"><%= fa_icon "facebook"%></a> 
        <a href="https://www.instagram.com/andrewhenriquef/"><%= fa_icon "instagram"%></a>
      </li>
    </ol>
  </div>
</aside>